{% extends 'blog_app/base.html' %}

{% block content %}
    <h1>Login:</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="post-form">
    {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{form.password.label_tag }}
        {{ form.password }}
        <br>
        <br>
        <input type="submit" value="login" class="save btn btn-warning"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}