{% extends 'base.html' %}


{% block content %}
    <form class="post-form">
        <p>
            <label >
                {{ post.published_date }}
            </label>
        </p>
        <h1>
            <u>{{ post.title }}</u>
            {% if user.is_authenticated %}
            &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-default" href="{% url 'EditPost' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
        </h1>
        <p>
            <label >
                <u>Category</u>: <a href="{% url 'PostList' pk=post.pk %}">{{ post.category }}</a>
            </label>
        </p>
        <br>
        <p>
            <label >
                {{ post.text|linebreaksbr }}
            </label>
        </p>
    </form>
    <br>
    <hr>
    <p><a href="{% url 'PostList' pk=post.pk %}">&lt;&lt;<u>Back</u></a></p>
    <hr>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'AddComment' pk=post.pk %}">Add comment</a>
    {% endif %}
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'RemoveComment' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
        {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}